<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<connectionStrings>
		<add name="SunriseConnection"
			 connectionString="Data Source=QuanOwO;Initial Catalog=ql_thu_vien_sunrise;User ID=sa;Password=123456789;Encrypt=False;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />

		<add name="SunriseLibrary.Properties.Settings.ql_thu_vien_sunriseConnectionString"
			 connectionString="Data Source=QuanOwO;Initial Catalog=ql_thu_vien_sunrise;User ID=sa;Password=123456789;Encrypt=False;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>